.input{
    
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    padding: 10px 12px;
    border: 1px solid rgb(225, 227, 230);
    color: rgb(171, 171, 171);
    margin-top: 4px;
    min-width: 296px;
    
}
.error{

    border: #F04075 1px solid

}