.header{
    height: 50px;
    background-color: #333333;
    padding: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title{
        color: #FFFFFF;
        font-size: 32px;
        font-weight: bold;
    }
}

.ant-modal-footer{
    display: none;
}

.footer{
    display: flex;
    gap:8px
}
